body {
  font-family: "Tenor Sans", sans-serif;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #222222;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  padding-left: 8px;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* Style the tab */
.tab {
  display: flex;
  padding-left: 10px;
  gap: 50px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: solid 1px #ddd;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffffff;
  color: #000000;
  border-bottom-color: #DD8560;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* On mouse-over */
}
.tabcontent .sm-wrapper {
  display: flex;
  justify-content: center;
  color: darkgrey;
}
.tabcontent .sm-wrapper i {
  margin-top: 30px;
  margin-right: 30px;
  padding-bottom: 40px;
}
.tabcontent .dropdown-btn {
  padding-top: 10px;
  padding: 3px;
  text-decoration: none;
  font-size: 15px;
  color: #222222;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.tabcontent .dropdown-btn:hover {
  color: #111111;
}
.tabcontent .fa-chevron-down {
  float: right;
  padding-right: 8px;
  opacity: 0.3;
}

.icon-wrapper {
  padding: 10px 10px;
  opacity: 0.4;
}

.dropdown-container a {
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  text-transform: capitalize;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  border: solid 1px #bbb;
  background-color: #FFF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.item-wrapper h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.item-wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #555555;
}
.item-wrapper span {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #DD8560;
}

.color-wrapper p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #555555;
}
.color-wrapper .button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 10px 4px;
  border-radius: 50%;
}
.color-wrapper .button.button-1 {
  background-color: #0F140D;
}
.color-wrapper .button.button-2 {
  background-color: #DD8560;
}
.color-wrapper .button.button-3 {
  background-color: #E1E0DB;
}

.size-wrapper {
  margin-left: 30px;
}
.size-wrapper p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #555555;
}
.size-wrapper .button {
  width: 24px;
  height: 24px;
  border: 1px solid #DEDEDE;
  background-color: #ffffff;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5;
  margin: 10px 4px;
  border-radius: 50%;
}

.active, .button:hover {
  background-color: #000000;
  border-color: #bbb;
  color: #ffffff;
}

.d-flex {
  gap: 10px;
}

.container3 {
  background-color: #000000;
}
.container3 .basket {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
}
.container3 i {
  color: #ffffff;
}

.floater {
  background-color: black;
  display: none;
  transition: 0.3s;
  position: absolute;
  top: 0%;
  width: 100%;
  left: 0%;
}
.floater .increment_price {
  color: white;
  border: 1px solid white;
  background-color: black;
  border-radius: 50%;
  font-size: 16px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  height: 23px;
}
.floater .decrement_price {
  font-size: 16px;
  border: 1px solid white;
  background-color: black;
  border-radius: 50%;
  padding: 3px;
  height: 23px;
  color: white;
}
.floater .product_count {
  color: white;
}

.full_cart {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}
.full_cart .price_tag {
  color: orange;
  font-size: 16px;
}
.full_cart .price {
  font-size: 16px;
}
.full_cart i {
  border-radius: 50%;
  border: 1px solid black;
  padding: 3px;
  padding-right: 4px;
  height: 23px;
}
.full_cart .colored_div {
  background-color: black;
  padding: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}
.full_cart .colored_div:nth-child(2) {
  background-color: orange;
}
.full_cart .colored_div:last-child {
  background-color: lightgrey;
}
.full_cart .size_div {
  color: black;
  width: 21px;
  height: 21px;
  padding-top: 1px;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
.full_cart .selected_size {
  background-color: black;
  color: white;
}
.full_cart .upper_section {
  width: -moz-fit-content;
  width: fit-content;
}
.full_cart .middle_section {
  background-color: white;
  margin-bottom: 130px;
  position: relative;
}
.full_cart .middle_section img {
  width: 130px;
  height: 156px;
}
.full_cart .close_sign {
  cursor: pointer;
}
.full_cart h5 {
  font-family: Tenor_regular;
  color: black;
}
.full_cart .third_section {
  position: static;
}
.full_cart .third_section h5 {
  color: white;
}
.full_cart .third_section .cart_div {
  background-color: black;
}
.full_cart .float {
  background-color: white;
  display: none;
  transition: 0.3s;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 265%;
  left: 0%;
  opacity: 1;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */